
$ice: #FAFAFA;
$dark-grey: #333333;
$border-grey: #D5D5D5;
$darker-border-grey: #D8D8D8;
$light-grey: #f1f1f1;
$font-dark-grey: #424242;
$font-darker: #4b4b4b;
$grey: #373A3C;
$medium-grey: #212121;

$black: #000000;
$white: #ffffff;

$bg-blue: #F8FBFD;
$dark-blue: #006AA3;
$blue: #00528c;
$sky-blue: #007CDB;
$medium-blue: #0082C8;

$mustard: #CEA039;
$inclusion-green: #65AB5A;