@import '../../assets/style-patterns/colors.scss';
@import '../../assets/style-patterns/fonts.scss';


label{
    font-size: 14px;
    @include semi-bold;
    color:$medium-grey;
    margin: 16px 0 8px 0;
    display: block;
}

input[type="text"]{
    font-size: 14px;
    color: $font-dark-grey;
    width: 100%;
    margin: 0;
    border: 1px solid $border-grey;
    padding: 8.5px;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="radio"]{
    width: initial;
    margin: 24px 8px 16px 0;

}

.dates{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    float: lef;
    display: inline-flex;
    justify-content: space-between;
    .form-group{
        position: relative;
        max-width: 154px;
        width: 100%;
    }
}

.deslocated{
    position: relative;
    margin-left: 16px;
}

label.duration{
    display: inital;
}

.duration-item{
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.wrap-duration{
    position: relative;
    display: inline-flex;
    width: 100%;
}

textarea{
    width: 100%;
    height: 70px;
}

.input-basic{
    border: 1px solid $border-grey;
    padding: 8.5px;
    box-sizing: border-box;
    border-radius: 4px;
}

select{
    position: relative;
    width: 100%;
    background-color: $white;
    height: 36px;
    font-size: 14px;
}

.btns{
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 24px;
}